version: '3.3'
services:
  sabnzbd:
    image: 'linuxserver/sabnzbd:<%= @sabnzbd_tag %>'
    environment:
      - TZ=Europe/London
      - PUID=0
      - PGID=0
    volumes:
      - /pool/docker_volumes/sabnzbd/config:/config
      - /pool/downloads:/downloads
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sabnzbd.rule=Host(`nzb.kirstein.me`)"
      - "traefik.http.routers.sabnzbd.entrypoints=web"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080" 
  jellyfin:
    image: linuxserver/jellyfin:<%= @jellyfin_tag %>
    container_name: jellyfin
    network_mode: "host"
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
    volumes:
      - /pool/docker_volumes/jellyfin/config:/config
      - /pool/tv-movies:/data/tvshows
      - /pool/movies:/data/movies
      - /pool/docker_volumes/jellyfin/transcode:/transcode
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    restart: unless-stopped
  traefik:
    image: "traefik:<%= @traefik_tag %>"
    container_name: "traefik"
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CLOUDFLARE_DNS_API_TOKEN=<%= @cf_api_token %>
      - CLOUDFLARE_ZONE_API_TOKEN=<%= @cf_api_token %>
    volumes:
      - "./traefik:/etc/traefik"
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:   
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.kirstein.me`)"
      - "traefik.http.routers.dashboard.entrypoints=web"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.services.dashboard.loadbalancer.server.port=8080" 

      # middleware redirect
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      
      # global redirect to https
      - "traefik.http.routers.redirs.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.redirs.entrypoints=web"
      - "traefik.http.routers.redirs.middlewares=redirect-to-https"
    restart: unless-stopped
  mosquitto:
    image: eclipse-mosquitto:<%= @mosquitto_tag %>
    hostname: mosquitto
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - /pool/docker_volumes/mosquitto:/mosquitto/
    networks:
      - default